* { /*Universal Selector */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Element Selectors */
body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

/* Class Selectors */
.hero { /* Class for cover photo */
    height: 800px;
    width: 100%;
    margin-bottom: 21px;
    background-position: center;
    object-fit: cover;
}

.seo { /*Changes the color of letters in Horiseon Logo */
    color: #d9dcd6;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Class for Search Engine Optimization, Online Reputation Management, 
    and Social Media Marketing sections 
    Also known as the Content section */
.content { 
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.contentSection {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.contentSection img {
    max-height: 200px;
}

.contentSection h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Class for Lead Generation, Brand Awareness,
    and Cost Management sections. 
    Also known as the Benefits section*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefitsSection {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefitsSection h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefitsSection img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}